@import "utils/variables";
@import "bootstrap/bootstrap";

// Globals
@import "globals/typography";

// Elements
@import "elements/buttons";

// includes
@import "includes/icons";

// Global layout template
@import "sections/footer";
@import "sections/nav";

// For developement
// body * {
//   background: rgba(10, 20, 30, 0.1);
// }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}




.site {
  display: flex;
  height: 100%; // Fallback to avoid IE 10-11 `min-height` bug, `vh` is buggy in older mobile Safari
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto; // prevent some browsers from letting items shrink smaller than default minimum size
}

.site-header,
.site-footer {
  flex: none; 
}

.analytics-block {
	// background: pink;
	border: 1px solid red;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 30px;

	h4 {
		margin: 20px 20px 10px;
	}

}

#embed-api-auth-container {
	border: 1px solid orange;
	margin: 0 20px;
}

.gapi-analytics-data-chart {
	border: 1px solid green;
	overflow: hidden;
	padding: 0;
	margin: 20px;

	div div {
		border: 1px solid tan;
		overflow: hidden;
		width: 100% !important;
	}

	svg { // look up how to scale this svg
		border: 1px solid pink;
		display: block;
		width: 100% !important;
	}
}